.form input[type="text"] {
    border: none;
    border: 0.50px #CBCBCB solid;
    padding: 14px 20px;
   
    border-radius: 6px;
}

.form input[type="text"]:focus {
    outline: none;
}

.form textarea[type="text"]:focus {
    outline: none;
}
.form input[type="text"]::placeholder {
    color: #6C7275;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter;
}
.form textarea[type="text"]::placeholder {
    color: #6C7275;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter;
}
.form textarea[type="text"] {
    border: none;
    border: 0.50px #CBCBCB solid;
    padding: 14px 20px;
    
    border-radius: 6px;
}